.button {
  padding: 0 12px;
  height: 40px;

  border: none;
  background: none;
  /* Max out the border radius */
  border-radius: 200px;
  cursor: pointer;
}

.tonal-primary {
  background-color: var(--color-primary-container);
  color: var(--color-on-primary-container);
}

.tonal-secondary {
  background-color: var(--color-secondary-container);
  color: var(--color-on-secondary-container);
}

.tonal-tertiary {
  background-color: var(--color-tertiary-container);
  color: var(--color-on-tertiary-container);
}

.filled-primary {
  background-color: var(--color-primary);
  color: var(--color-on-primary);
}

.filled-secondary {
  background-color: var(--color-secondary);
  color: var(--color-on-secondary);
}

.filled-tertiary {
  background-color: var(--color-tertiary);
  color: var(--color-on-tertiary);
}

.outlined {
  border: 1px solid var(--color-outline);
}

.text {
  color: var(--color-on-background);
  transition: background-color 0.2s ease-in-out;
}

.text:hover {
  background-color: rgba(var(--color-on-surface-variant-rgb), 0.2);
}
