.card {
  display: flex;
  flex-direction: column;

  border-radius: 12px;
  padding: 16px;
  max-width: 250px;
  min-width: 230px;
  text-align: left;
}

.card img {
  margin: -16px;
  margin-bottom: 0;
  border-radius: 12px;
  width: calc(100% + 32px);
}

.card h2,
.card h3,
.card p {
  margin: 0;
}

.card h3 {
  opacity: 0.7;
}

.buttons {
  height: 100%;
  align-items: flex-end;
}

/* Types */
.filled {
  background-color: var(--color-surface-variant);
  color: var(--color-on-surface-variant);
}

/* States */
.card.interactive:hover,
.focused {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  background-color: rgba(var(--color-on-surface-variant-rgb), 0.4);
}

.none {
  /* Here to stop undefined happening */
}
